$color-bgc-main: #050e23 !default;
$color-ptr-active: #b10725 !default;
$color-ptr-not-active: #494949 !default;
$color-arrow: #121f3b !default;
$color-arrow-hover: #2b354b !default;
$color-owner: #000 !default;