#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 72rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-col {
    flex: 0 0 4rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flex-col>div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 25rem;
        height: auto;
    }
    .flex-col>div {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
}