body {
    background-color: $color-bgc-main;
    position: relative;
}

.ptr {
    &-active {
        background-color: $color-ptr-active;
    }
    &-not-active {
        background-color: $color-ptr-not-active;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h4 {
    color: $color-owner;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 0.3rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
}

.theme-changer {
    width: 15rem;
    height: 10rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // background-color: pink;
}

i {
    display: inline-block;
    border: solid rgba($color-arrow, .9);
    border-width: 0 9px 9px 0;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    transition: all .5s;
    transition-timing-function: ease-out;
}

i:hover {
    padding: 1.5rem;
    border: solid rgba($color-arrow-hover, .7);
    border-width: 0 12px 12px 0;
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}