*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  min-height: 100%; }

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 72rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.flex-col {
  flex: 0 0 4rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.flex-col > div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-bottom: 3rem; }

@media only screen and (max-width: 480px) {
  .container {
    width: 25rem;
    height: auto; }
  .flex-col > div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem; } }

body {
  background-color: #9e1d1d;
  position: relative; }

.ptr-active {
  background-color: #a19700; }

.ptr-not-active {
  background-color: #001c36; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

h4 {
  color: #6d0000;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  letter-spacing: 0.3rem;
  margin-bottom: .5rem;
  margin-left: .5rem; }

.theme-changer {
  width: 15rem;
  height: 10rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

i {
  display: inline-block;
  border: solid rgba(121, 30, 30, 0.9);
  border-width: 0 9px 9px 0;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  transition: all .5s;
  transition-timing-function: ease-out; }

i:hover {
  padding: 1.5rem;
  border: solid rgba(141, 78, 78, 0.7);
  border-width: 0 12px 12px 0; }

.left {
  transform: rotate(135deg); }

.right {
  transform: rotate(-45deg); }
